{% extends 'base.html' %}
{% block title %}
登入頁面
{% endblock %}
{% block content %}
<h1>登入頁面</h1>
<form method="post" action="">
    {% csrf_token %}
    <p>
        <label for="username">名稱:</label>
        <input type="text" id="username" name="username" required value="{{username}}">
    </p>
    <p>
        <label for="password">密碼:</label>
        <input type="password" id="password" name="password" required>
    </p>

    <p><button type="submit">登入</button></p>

</form>
{{ message }}
{% endblock %}